@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy-bold/Gilroy-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", "sans-serif";
}

.header-left {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.search-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(240, 240, 245);
}
.search-button input {
  width: 253px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
  border: none;
  padding-right: 120px;
  background-color: rgb(240, 240, 245);
}
.header-right {
  display: flex;
  gap: 30px;
  padding: 10px;
}
nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(2, 6, 12, 0.15);
  position:sticky;
  top: 0px;
  z-index: 1000;
}
.line {
  height: 2px;
  width: 100%;
  background-color: gray;
}
.first-sec {
  background: linear-gradient(
    0deg,
    rgb(201, 188, 244) 0%,
    rgb(255, 255, 255) 95.83%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
}
.first-sec-heading {
  display: flex;
  flex-direction: column;
}
.first-sec img {
  width: 501px;
  height: 300px;
}
h1 {
  font-size: 48px;
  color: #02060c;
  opacity: 75%;
  line-height: 48px;
  letter-spacing: -0.43px;
  text-align: start;
  font-weight: bolder;
}
h2 {
  font-size: 24px;
  font-weight: 800;
}
.arrows img {
  width: 16px;
  /* border: 2px solid black; */
  border-radius: 100%;
  padding: 8px;
  height: 34px;
  padding: 2px 10px;
  margin-right: 10px;
  background: rgba(2, 6, 12, 0.15);
}
.on-your-mind {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.diff-images {
  display: flex;
  justify-content: space-between;
}
.diff-images > div > img {
  width: 144px;
  height: 180px;
}

.card {
  position: relative;
  display: inline-block;
}

.card img {
  width: 260px;
  height: 207px;
  object-fit: cover;
  border-radius: 15px;
}
.card2 {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.card2 img {
  width: 230px;
  height: 157px;
  object-fit: cover;
  border-radius: 15px;
}
.offer-design {
  border-radius: 15px;
  position: absolute;
  bottom: 88px;
  right: 0px;
  left: 0px;
  /* display: grid; */
  width: 236px;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  color: white;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
}
.offer-design2 {
  border-radius: 15px;
  position: absolute;
  bottom: 88px;
  right: 0px;
  left: 0px;
  /* display: grid; */
  width: 206px;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  color: white;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
}
.restaurant-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  width: 100%;
}
.rating {
  display: flex;
  text-align: center;
}
.r {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
}
.restaurants {
  display: flex;
  gap: 30px;
  padding: 15px 0px;
  justify-content: space-between;
}
.restaurants2 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  transition: transform 0.1s ease;
}
.card2 {
  transition: transform 0.1s ease;
}
.card:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.card2:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
}
.icons img{
  padding-top: 0px;
}
.button {
  border: 1px solid rgba(2, 6, 12, 0.15);
  border-radius: 18px;
  padding: 9px 12px;
  width: max-content;
  grid-auto-flow: column;
  gap: 8px;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0px;
  /* position:sticky; */
  /* top: 0px; */
  /* background-color: rgb(255,255,255); */
  /* z-index: 1000; */
}
.hero-section {
  padding: 30px 120px 0px 120px;
}
.show-more {
  display: flex;
  justify-content: center;
}
.new_icon {
  border: 2px solid black;
  border-radius: 15px;
  padding: 16px 90px;
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 6, 12, 0.1);
  border-radius: 12px;
  height: auto;
  cursor: pointer;
}
.restaurant-chain {
}

hr {
  border: 1px solid rgba(2, 6, 12, 0.05);
  margin: 40px 0px;
}
.dash{
  color:rgba(2, 6, 12, 0.2);
}
.details {
  padding-left: 10px;
  padding-top: 2px;
}
p {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
}
.h1-new {
  font-size: 28px;
  color: #02060c;
  opacity: 75%;
  line-height: 48px;
  letter-spacing: -0.43px;
  text-align: start;
  font-weight: bolder;
}
.see-more {
  color: #ff5200;
  font-weight: bold;
}
.see-more-gap {
  padding-top: 10px;
}
.box {
  padding: 16px;
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 6, 12, 0.1);
  border-radius: 12px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.place-button {
  display: flex;
  justify-content: center;
}
.places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
.place {
  border: 1.5px solid rgba(2, 6, 12, 0.1);
  border-radius: 12px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  padding: 14px;
}
.sub-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 10px 75px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(240, 240, 245);
  padding: 40px 170px;
  margin-top: 70px;
}
.list {
  display: flex;
}
li {
  list-style: none;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  padding: 8px;
}
.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
}
.separate{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
