*{
    padding: 0;
    margin: 0;
}

/*sony logo part*/
.sony-logo{
    background-color: black;
    height: 36px;
    width: 100%;
    /* position: absolute; */
    text-align: right;
    display: inline-block;
    top:0;
}
.sony-logo img{
    padding-top: 11px;
}