@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

.content{
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: 10px solid black; */

}
body{
    height:100vh;
    background-color:#121321;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main{
    background-color: rgba(255,255,255,0.1);
    width: 350px;
    height: 200px;
    border-radius: 25px;
    padding: 15px;
    position: relative;
    z-index: 10;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(45px);

}
.first-ball, .second-ball {
    position: absolute;
    z-index: 1; /* Keep the circles behind the main card */
}
.first-ball{
    background: linear-gradient(90deg,#645ce0,#f1f1);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: -85px; /* Position it behind the top left of the card */
    left: -80px;
}
.second-ball{
    background: linear-gradient(90deg,#db4925,#f3f8);
    width: 150px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 120px;
    right: -75px;
}

.top-portion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-portion span{
    margin-left: -120px;
}
.main-card{
    padding: 10px;
}
.card-details{
    padding-top: 50px;
}
.bottom-portion{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.bottom-portion span:nth-child(){
    padding-top: 20px;
}