.container{
    width: 80vw;
    height: 50vh;
    background-color: green;
}
.ball{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 100%;
    transform: translateY(10px) translateX(10px);
    animation-name: BallAnimation;
    animation-duration: 3s;
}

@keyframes BallAnimation {
    from{

    }
    to{
        transform: translateY(42vh) translateX(10px);
    }
    
}